<a href="{{basePath}}{{to}}" class="{{class}} {{active ? activeClass : ''}}" on:click="navigate(event, to)">
  <slot></slot>
</a>

<script>
  import getHistory from '../utils/history'
  const activedClassName = 'router-link-active'
  
  export default {
    data () {
      return {
        replace: false,
        to: '/',
        basePath: '#',
        active: false,
        class: '',
        activeClass: activedClassName,
        event: null
      }
    },
    oncreate () {
      this.setActivedClass(getHistory().location)
      this.set({
        event: getHistory().listen(this.setActivedClass.bind(this))
      })
    },
    ondestroy () {
      this.get('event')()
    },
    methods: {
      navigate ($e, to) {
        if ($e && $e.preventDefault) $e.preventDefault()
        if (to) {
          const { pathname } = getHistory().location

          if (pathname !== to) {
            if (this.get('replace')) {
              getHistory().replace(to)
            } else {
              getHistory().push(to)
            }
          }
        }
      },

      setActivedClass (location) {
        let active = location.pathname === this.get('to');
        this.set({ active });
      }
    }
  }
</script>
